<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <h3 class="logo">RedboothTasks</h3>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/">Sign out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

