<div class="jumbotron">
  <h1>Welcome to <span class="logo">RedboothTasks</span></h1>
  <p class="lead">
    Marking a task as <span class="resolved">resolved</span> has never been so easy!
  </p>
  <p><a class="btn btn-lg btn-danger" href="/auth/redbooth">Sign in with your Redbooth account</a></p>
</div>

