/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
}

.resolved {
  text-decoration: line-through;
}

.container {
  width: 750px;
}

.jumbotron {
  margin: 60px auto;
  text-align: center;
}

.logo {
  color: #C70000;
}

.alert-error {
  color: #A94442;
  background-color: #F2DEDE;
  border-color: #EBCCD1;
}

.caption {
  position: relative;
  height: 150px;
}

.meta {
  width: 98%;
  position: absolute;
  bottom: 10px;
}

.task-open .task-status {
  background-color: #C70000;
}

.task-date {
  font-size: 80%;
}

.task-name {
  font-weight: 400;
}

.task-description {
  font-size: 95%;
}
